.form_group {
    margin-bottom: 20px;
}

.form_group label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--marine-blue);
    font-size: 1.4rem;
    /* font-weight: 400; */
}

.form_group label span{
    font-size: 1.4rem;
    color: var(--strawberry-red)
}

.form_group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: var(--alabaster);
    border-radius: 4px;
    color: var(--marine-blue);
    font-weight: bold;
    font-size: 1.4rem;
}

input.invalid{
    outline: 1px solid var(--strawberry-red);
}

.form_group input::placeholder {
    color: var(--cool-gray);
    font-size: 1.4rem;
}

.form_group input:focus {
    outline: 1px solid var(--purple-blue);
    border: none;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

button.next{
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: auto;
    border: none;
    color: var(--white);
    background: var(--marine-blue);
}

button.next:hover{
    color: var(--white);
    background: var(--purple-blue);
}

button.back{
    color: var(--cool-gray);
    background: none;
    border: none;
}

button.back:hover{
    color: var(--marine-blue);
    font-weight: bold;
}

