.check-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.box {
  display: none;
}

.box-label {
  padding: 15px;
  align-items: flex-start;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  border-radius: 5px;
  outline: 1px solid var(--light-gray);
  cursor: pointer;
  transition: background-color 0.3s, outline-color 0.3s;
}

.plan-des p{
  font-size: 1.4rem;
}
.box-label:hover {
  outline: 1px solid var(--purple-blue);
}

input:checked + .box-label {
  background-color: var(--magnolia);
  outline: 1px solid var(--purple-blue);
}

.promo {
  color: var(--marine-blue);
  margin-top: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--marine-blue);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--marine-blue);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.billing-container {
  width: 100%;
  background-color: var(--magnolia);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 15px 5px;
  border-radius: 10px;
  gap: 15px;
}

.checked {
  color: var(--marine-blue);
}

@media only screen and (min-width: 1000px) {
  .check-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
  }

  .box-label {
    flex-direction: column;
    gap: 35px;
  }
}